include README.md
include PYPI.md
include pyproject.toml
include pytest.ini
graft python/src
graft python/examples
graft python/tests
include python/README.md
include python/API.md
prune python/src/cine_reader.egg-info
prune python/src/cine_handler.egg-info
prune Matlab
prune c_src
prune docs
prune release
prune sample_data
global-exclude __pycache__
global-exclude *.py[cod]
global-exclude .DS_Store
